li a {
  display: inline-block;
  color: white;
  text-align:center;
  padding: 22px 24px;
  text-decoration: none;
}
ul {list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.active {
  background-color: red;
}
li a:hover {
  background-color: #8B0000;
}
li {
  float: left;
  font-family: Arial;
  font-size: 20px
}

.center {
  display: grid;
  grid-template-columns: 10% 60% 30%;
  font-size: 150%;
  margin-top: 30px;

}

.TBP {
  background-image: url(https://cdn.discordapp.com/attachments/694585620516962369/730039937273036870/TBP_logo_2-1.png_1.png);
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: scroll;
}

.bruh {
  color: white;
  font-weight:  bolder;
  position:
}

.background9 {
  background-image: url(https://images.unsplash.com/photo-1551272744-dc08dd02f2c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjQzMzEwfQ&auto=format&fit=crop&w=1349&q=80);
  background-attachment: scroll;
  background-size: cover;
}


.centered {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  font-size: 150%;
  margin-top: 30px;
}

img {
  width: 300px;
  length: Auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
